# See https://github.com/deluXtreme/subindexer
API_URL=
# Funded EOA on Gnosis Chain
REDEEMER_KEY=

# Optional (fixed defaults)
SUBSCRIPTION_MODULE=0xcEbE4B6d50Ce877A9689ce4516Fe96911e099A78
CIRCLES_RPC=https://rpc.aboutcircles.com/
